<div class="container mt-3">
    <br />
    <br />
    <form action="/action_page.php">
        Nom:<br>
        <input type="text" name="nom" value="">
        <br>
        Prénom:<br>
        <input type="text" name="prenom" value="">
        <br>
        Adresse:<br>
        <input type="text" name="adresse" value="">
        <br>
        Mail:<br>
        <input type="text" name="mail" value="">
        <br>
        Téléphone:<br>
        <input type="text" name="telephone" value="">
        <br>
        <br><br>
        <input type="submit" value="Submit">
    </form> 
</div>