<div class="container mt-3" style="text-align: center;">

    <h2>Panel Administration:</h2>
    <br />
    <br />
    <a class="btn btn-primary btn-lg active" href="#!/collaborateur/liste_utilisateurs">Liste des Miagistes & Non-Miagistes</a>
    <br />
    <br />
    <a class="btn btn-primary btn-lg active" href="#!/collaborateur/liste_messages_sans_reponses">Liste des questions sans réponses</a>
    <br />
    <br />
    <a class="btn btn-primary btn-lg active" href="#!/collaborateur/liste_messages_avec_reponses">Liste des questions avec réponses</a>
    <br />
    <br />
    <a class="btn btn-primary btn-lg active" href="#!/collaborateur/messages">Liste de toutes les questions</a>
    <br />
    <br />
    <a class="btn btn-primary btn-lg active" href="#!/collaborateur/offres">Offres</a>
    </button>
</div>