<div data-ng-init="getAllUser()" class="container mt-3">
    <div class="mt-3" ng-bind-html="resultatBascule"></div>
    <h4><u>Liste des Miagistes</u></h4>
    <table class="table">
        <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Role</th>
              <th>Adresse</th>
              <th>Email</th>
              <th>Téléphone</th>
              <th>Modifier</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in listUser" ng-if="x.role == 'miagiste'">
                <td>{{x.id}}</td>
                <td>{{ x.nom }}</td>
                <td>{{ x.prenom }}</td>
                <td>
                  <!--ng-model pour récupèrer le role sélectionné et ng-init pour initialiser la valeur par défaut de la balise select-->
                  <select ng-model="selectedRole" ng-init="selectedRole='miagiste'" name="miagiste" id="role">
                    <option value="miagiste">{{x.role}}</option>
                    <option ng-if="x.role == 'miagiste'" value="non_miagiste">non_miagiste</option>
                  </select>
                </td>
                <td>{{ x.adresse }}</td>
                <td>{{ x.mail }}</td>
                <td>{{ x.tel }}</td>
                <td><input type="button" ng-click="basculerStatus(x.mail, selectedRole)" value="Basculer le rôle"></td>
            </tr>
          </tbody>
    </table>
    <br />
    <h4><u>Liste des Non-Miagistes</u></h4>
    <table class="table">
      <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Role</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Modifier</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in listUser" ng-if="x.role == 'non_miagiste'">
              <td>{{x.id}}</td>
              <td>{{ x.nom }}</td>
              <td>{{ x.prenom }}</td>
              <td>
                  <select ng-model="selectedRole" ng-init="selectedRole='non_miagiste'" name="miagiste" id="role">
                      <option value="non_miagiste">{{x.role}}</option>
                      <option ng-if="x.role != miagiste" value="miagiste">miagiste</option>
                    </select>
              </td>
              <td>{{ x.adresse }}</td>
              <td>{{ x.mail }}</td>
              <td>{{ x.tel }}</td>
              <td><input type="button" ng-click="basculerStatus(x.mail, selectedRole)" value="Basculer le rôle"></td>
          </tr>
        </tbody>
  </table>
</div>
