<div class="alert alert-success" ng-show="user.estConnecte" role="alert">
        Bonjour {{ user.nom | uppercase }} {{ user.prenom}}, vous êtes connecté! 
  </div>
<div class="row">
        <div class="col">
            <h3>La MIAGE de Rennes c'est d'abord: </h3>
            <ul>
                <li>Une formation</li>
                <li>Des promotions d'étudiants</li>
                <li>Des enseignements de qualité</li>
                <li>Une insertion dans le monde professionnel rapide et efficace</li>
                <li>Des partenariats industriels</li>
            </ul>
            <h3>Diplômes délivrés</h3>
            <ul>
                <li>Licence MIASHS parcours MIAGE</li>
                <li>Master MIAGE IDP - Ingénierie des Données et Protection</li>
                <li>Master MIAGE ITN - Ingénierie de la Transformation</li>
                <li>Numérique</li>
            </ul>
            <h3>La formation MIAGE peut se faire...</h3>
            <ul>
                <li>En formation initiale</li>
                <li>En alternance: apprentissage, contrat de professionnalisation, période de professionnalisation</li>
                <li>En cours du soir</li>
                <li>A distance (e-miage)</li>
            </ul>
        </div>
        <div class="col">
            <div class="imgMiage" style="margin-top:5px;">
                    <img style="max-width:100%; max-height: 100%;" src="img/miage.png" alt="MIAGE">
            </div>
        </div>       
</div>