<div data-ng-init="getMessage(user.id)" class="container mt-3">
        <div class="alert alert-light"  ng-if="isObjectUndefined(listMessageUser)" role="alert">
                Vous n'avez pas de questions!
          </div>
    <div ng-repeat="message in listMessageUser" class="card bg-light mb-3">
        <div class="card-header"><strong>{{message.contenu}}</strong></div>
        <div class="card-body">
        <p class="card-text">{{message.reponse.contenu}}</p>
        </div>
    </div>
</div>
